@import "./_variables";
@import "./_functions";

// font //

@mixin set-font($size, $weight, $color, $height: 1, $kerning: 0) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $height;
  letter-spacing: $kerning;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin set-letter-spacing($letter-value) {
  letter-spacing: $letter-value;
}

@mixin set-flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  // Set flex //
  @if $direction==row {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  } @else if $direction==row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  } @else if $direction==column {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  } @else if $direction==column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  // set justify-content //
  @if $justify==flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  } @else if $justify==flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  } @else if $justify==center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  } @else if $justify==space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  // set align-items //
  @if $align==flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  } @else if $align==flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  } @else if $align==center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  } @else if $align==stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  } @else if $align==baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

/**
    그림자 이미지를 적용한다.
    
    @param $shadow - 그림자  
    @param $width - 그림자 너비
    @param $height - 그림자 높이
    @param $top - 그림자 y 위치
    @param $left - 그림자 x 위치
*/
@mixin set-shadow($shadow-src, $width, $height, $top, $left) {
  background-repeat: no-repeat;
  background-image: url($shadow-src);
  background-size: $width $height;
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  z-index: -1;
}
