/* Color Palette */
//color

$primary: #cf0652;

$white1: #ffffff;

// gray
$gray1: #262626;
$gray2: #404040;
$gray3: #686868;
$gray4: #999999;
$gray5: #7d848c;

// red
$red2: #cf0652;

// orange
$orange1: #f8952b;

// background color
$black1: #020203;
$black2: #000;

// purple
$purple1: #b49bfa;
$purple2: #7f1eff;

// font-size
$font-base: 30px;
$font-xs: $font-base - 6px; //24px
$font-s: $font-base - 4px; //26px
